// Widescreens 

@include mediaXL {
    main {}

    .icons {
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-end;

    }

    .job {
        padding: 3rem;
    }
}

.projects {
    grid-template-columns: repeat(4, 1fr);
}


// Desctops & Laptops

@include mediaLr {

    main {
        align-items: center;
        text-align: center;
        min-height: calc(100vh - 10vh);


    }

    .icons {
        font-size: 1.1rem;
        display: flex;
        justify-content: flex-end;

    }

    .menu-branding {
        .portrait {
            width: 220px;
            height: 220px;
            background: url(/img/portrait-mobile.jpg);
            background-position: right -8px top -10px;
        }
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

}

// Tablets & small Laptops

@include mediaMd {
    .menu-btn {
        @include linear-gradient(#aaa, #ddd);
        border: 1px solid #fff;
        padding: 7px 5px 5px 5px;
        right: 20px;
        top: 30px;
    }

    main {
        align-items: center;
        text-align: center;
        padding: 50px;
        min-height: calc(100vh - 10vh);

        h1.lg-heading {
            letter-spacing: 4px;
            font-size: 5rem;
        }

        h2.sm-heading {
            letter-spacing: 2px;
            font-size: 4rem;
        }


    }

    .icons {
        font-size: 1.5rem;
        justify-content: space-around;
        transition: all 1s ease-in-out;
        top: 100%;

        &.showvs2 {
            position: fixed;
            top: calc(100% - 10%);
            transition: all 400ms ease-in;
        }

    }

    .menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
    }

    &.show {
        transform: translate3d(0, 0, 0)
    }

    .menu-nav {
        height: 65vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 1.7rem;
    }

    .menu-branding {
        height: 25vh;

        transform: translate3d(100%, 0, 0);

        .portrait {
            width: 160px;
            height: 160px;
            background: url(/img/portrait-mobile.jpg);
            background-position: right -33px top 0px;
        }
    }

    .about-info {
        text-align: justify;
        padding: 30px 20px;
        margin: 50px 0px;
        grid-template-areas:
            'bioimage'
            'bio'
            'skill'
            'job1'
            'job2'
            'job3';
        grid-template-columns: 1fr;
    }

    .bio,
    .skill,
    .job {
        padding: 30px;
        letter-spacing: 1px;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

}

// Smartphones

@include mediaSm {
    main {
        // background-color: red;
        text-align: justify;
        padding: 20px 30px;
        align-items: center;
        text-align: center;
        min-height: calc(100vh - 10vh);



        h1.lg-about {
            margin-top: 10px;
        }

        h2.sm-about {
            margin-bottom: 10px;
        }

        h1.lg-heading {
            letter-spacing: 4px;
            font-size: 3.5rem;
        }

        h2.sm-heading {
            letter-spacing: 3px;
            font-size: 2.6rem;
        }


    }



    .icons {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        left: 0;
        font-size: 1rem;
    }

    .menu-branding {
        .portrait {
            width: 120px;
            height: 120px;
            background: url(/img/portrait-mobile.jpg);
            background-position: right -48px top -5px;
        }
    }

    #home {
        h1.lg-about {
            font-size: 2.8rem;
            margin-top: 40px;
            margin-bottom: 5px;
            padding: 10px 25px;
            background-color: $second-color;
        }

        h2.sm-about {
            letter-spacing: 1px;
            font-size: 1.2rem;
        }

    }

    .about-info {
        .bio-image {
            margin-bottom: 0px;
        }

        .bio {
            background-color: grey;

            h3 {
                font-size: 1.6em;
            }
        }

    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
    }


}