@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    @include linear-gradient($primary-color, $second-color);
    @include background;
    color: set-text-color($primary-color);
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

//Heading
h1,
h2,
h3 {
    font-weight: 400;
    margin: 0;

    &.lg-heading {
        font-family: 'Righteous', cursive;
        letter-spacing: 4px;
        font-size: 7em;
        @include text3d(adjust-color($primary-shadow-color, $lightness: -12%),
            $depth: 5,
            $primaryshadowcolour: adjust-color($primary, $lightness: -20%, $saturation: -30%));
    }

    &.sm-heading {
        font-family: 'Teko', sans-serif;
        letter-spacing: 3px;
        font-size: 4em;
        padding: 0.2rem 0rem;
        @include text3d(adjust-color($primary-shadow-color, $lightness: -12%),
            $depth: 2,
            $primaryshadowcolour: adjust-color($primary, $lightness: -20%, $saturation: -30%));

    }
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

main {
    position: relative;
    min-height: calc(100vh - 10vh);

    &#home {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

.icons {
    min-height: 10vh;
    display: flex;
    justify-content: flex-end;
    @include linear-gradient(#f45c43, #eb3349);
    width: 100vw;
    padding: 12px;
    box-shadow: -12px 10px black;


    a {
        margin-top: 10px;
        color: #eeeeee;
        margin: auto 2em;
        font-size: 0.8em;
        @include text3d(adjust-color($primary-shadow-color, $lightness: -62%),
            $depth: 1,
            $primaryshadowcolour: adjust-color(#fff, $lightness: -80%, $saturation: +70%));
        @include easeInOut();


        &:hover {
            @include text3d(adjust-color($primary-shadow-color, $lightness: -22%),
                $depth: 2,
                $primaryshadowcolour: adjust-color(#fff, $lightness: -30%, $saturation: +0%));
            transform: scale(1.2);
        }
    }

    a:last-child {
        margin-right: 3rem;
    }

}

//About Page 
main {
    font-family: $font-about-page;
    padding: 50px 150px;
    min-height: calc(100vh - 10vh);

    .lg-about {
        font-size: 2.8rem;
        margin-top: -50px;
    }

    .sm-about {
        font-size: 1rem;
        margin-bottom: 50px;
    }
}



.about-info {
    display: grid;
    grid-gap: 40px;
    grid-template-areas: 'bioimage bio bio'
        'bioimage skill skill'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $second-color;
        height: 250px;
        width: 250px;
        background-position: right -2px top -55px;
        border: 3px solid $second-color;
    }

    .bio {
        grid-area: bio;
        font-size: 1rem;
    }

    .job-1 {
        grid-area: job1;
    }

    .skill {
        grid-area: skill;
        background-color: #ddd;
        width: 100%;
        height: 125px;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

    .job {
        background: lightern($primary-color, 5);
        padding: 3rem;
        border-top: $second-color 2px solid;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}

@import 'responsivnes';